@import "$lib/reset.css";
@import "$lib/vsdark.css";

:root {
  --green: #0fc859;
  --purple: #5a0fc8;
  --orange: #c8590f;
  --green-2: #36a161;
  --purple-2: #6036a1;
  --orange-2: #a16136;
  --offset: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}
.page {
  position: relative;
  
}
.toc {
  display: none;
  position: fixed;
  width: var(--offset);

  a {
    color: inherit;
    &:not(:hover:not(:active)) { text-decoration: none; }
  }
}
.content {
  margin-left: var(--offset);
}


h1 { font-size: 1.5rem;  margin: 1rem 0; }
h2 { font-size: 1.25rem; }
ul { 
  list-style-position: 
  inside; padding: 0; 
  margin-top: 0;
}
ul ul { padding-left: 1rem; }

pre[class^="language-"] { 
  max-width: 900px;
  /* margin: 0 auto; */
}

code:not([class^="language-"]) { 
  /* background: hsl(210,20%,93%);  */
  /* font-weight: bolder; */
  font-size: inherit;
}


@media (min-width: 1024px) {
  :root {
    --offset: 15rem;
  }
  .toc {
    display: initial;
  }
}